In [ ]:
#Integrantes del grupo

# Flavia Morena Valentina Pacheco Jaime
# Jozek Andrzej Hajduk SÃ¡nchez
# Jorge Andres Rangel Zapata

In [1]:
import psycopg2
import pandas as pd

from google.cloud import bigquery
from google.oauth2 import service_account

In [6]:
conn = psycopg2.connect( host = 'localhost', port = 5432, database = 'Adventure', user = 'jorgedevops' )

In [13]:
cur = conn.cursor()
Address = pd.read_sql_query( 'SELECT st.name , count(pp.businessentityid) FROM sales.salesterritory st, sales.salesorderheader so, person.person pp WHERE pp.businessentityid = so.customerid AND st.territoryid  = so.territoryid group by (st.name)', conn )
cur.close()

In [14]:
Address

             name  count
0          France   1552
1       Southwest   3140
2       Northwest   2379
3  United Kingdom   2041
4       Northeast      7
5         Central      5
6       Australia   4283
7         Germany   1567
8       Southeast     13
9          Canada   2476